/* COLOURS */

$primary-color: #800080;
$primary-color-hover: #5d005d;

$highlight-normal: #b72a2a;


$main-text-color: #333;
$label-color: #666;

$link-normal: $primary-color;
$link-hover: $primary-color-hover;

$button-normal: $primary-color;
$button-hover: $primary-color-hover;
$button-text-color: white;

$input-border: $primary-color;
$input-border-focus: $primary-color-hover;

$transition_slow: 0.5s;
$transition_fast: 0.2s;

