<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400|Exo:400">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/prism.css?nonce=345359">
        <script src="/js/vendor/jquery.min.js"></script>
    </head>
    <body class="myblog">
        {% include '_topBar.twig' %}

        <div class="main-outer-wrapper">
            <div class="main-content">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>

        {% include '_footer.twig' %}

        {% block footer_javascript %}
            <script src="/js/vendor/showdown.min.js"></script>
            <script src="/js/admin.js"></script>
            <script src="/js/vendor/prism.js"></script>
        {% endblock %}
    </body>
</html>
